@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #242424
}

button {
    cursor: pointer;
}

/* NAV */

#landing {
    background-color: rgb(206, 50, 50);
}

nav {
    
    /* margin: 20px; */
    margin: 0 auto;
    padding: 8px 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 140px;
}

.poke-logo__wrapper {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poke-logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

.logo__wrapper {
    display: flex;
    align-items: center;
}

.logo__title {
    font-size: 24px;
    color: #242424;
    filter: invert(1);
}

.nav__link--list {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav__link {
    margin: 0 12px;

}

.nav__link--anchor {
    font-size: 20px;
    font-weight: 500;
    color: #242424;
    filter: invert(1);
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #fff;
}

.search__content {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__title {
    font-size: 72px;
    color: #242424;
    text-align: center;
    margin-bottom: 12px;
    filter: invert(1);
}

.search__bar {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 48px;
    padding: 24px 16px;
}

.search__input {
    width: 100%;
    padding-right: 32px;
    font-size: 36px;
    text-indent: 20px;
    
    outline: none;

    border: none;
    flex-grow: 2;
    
}

.search__bar:focus-within {
    border: 2px solid #242424;
}

/* .search__input:focus {
    border: 2px solid #242424;
} */

.search__icon {
    margin-right: 24px;
    width: 50px;
    height: 50px;
    transition: all 300ms ease;
    color: #242424; 
}

.search__icon:hover {
    color:rgb(213, 41, 41); 
}

.search__icon--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__icon--wrapper:hover {
    cursor: pointer;
}

/* RESULTS */

.container {
    padding: 48px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px;
}

.results__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results__header--sort {
    margin-bottom: 12px;
}

.results__display {
    padding: 24px;
    margin: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-between; */
}

.results__button--select {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    border-radius: 24px;
    background-color:  rgb(206, 50, 50);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

.results__button--select:hover {
    background-color:  rgb(224, 45, 45);
}

.pokemon {
    width: calc(90%/3);
    padding: 24px;
    margin: 12px 16px;
    border: 1px solid #969393;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon__img--wrapper {
    width: 200px;
    height: 200px;
    /* background-color: #d7d7db; */
    border: 1px solid #969393;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon__img {
    width: 100%;
    height: 100%;
}

.pokemon__name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon__name--title {
    font-size: 24px;
    color: #242424;
    font-weight: 500;
}

.pokemon__name--number {
    font-size: 18px;
    color: #a9a5a5;
    font-weight: bold;
    margin: 8px 0;
}

.pokemon__types {
    margin: 12px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pokemon__type {
    padding: 4px 12px;
    color: #fff;
    border-radius: 24px;
}

/* TYPES */

.normal {
    background: #A8A878;
    border: 1px solid #6D6D4E;
}

.fire {
    background: #F08030;
    border: 1px solid #9C531F;
}

.water {
    background: #6890F0;
    border: 1px solid #445E9C;
}

.grass {
    background: #78C850;
    border: 1px solid #4E8234;
}

.electric {
    background: #F8D030;
    border: 1px solid #A1871F;
}

.flying {
    background: #A890F0;
    border: 1px solid #6D5E9C;
}

.bug {
    background: #A8B820;
    border: 1px solid #6D7815;
}

.poison {
    background: #A040A0;
    border: 1px solid #682A68;
}

.ice {
    background: #98D8D8;
    border: 1px solid #638D8D;
}

.rock {
    background: #B8A038;
    border: 1px solid #786824;
}

.ground {
    background: #E0C068;
    border: 1px solid #927D44;
}

.fighting {
    background: #C03028;
    border: 1px solid #7D1F1A;
}

.dragon {
    background: #7038F8;
    border: 1px solid #4924A1;
}

.psychic {
    background: #F85888;
    border: 1px solid #A13959;
}

.ghost {
    background: #705898;
    border: 1px solid #493963;
}

.dark {
    background: #705848;
    border: 1px solid #49392F;
}

.steel {
    background: #B8B8D0;
    border: 1px solid #787887;
}

.fairy {
    background: #EE99AC;
    border: 1px solid #9B6470;
}

/* DARK MODE */
.dark-mode #results {
    background-color: #242424;
}

.dark-mode #poke-logo,
.dark-mode a,
.dark-mode .logo__title,
.dark-mode .search__title {
    filter: none;
}

.dark-mode .results__header--title,
.dark-mode .sort__header,
.dark-mode .filter__header--type,
.dark-mode .pokemon__name--title {
    color: #242424;
    filter: invert(1);
}

/* .dark-mode .pokemon__name--title {
    filter: invert(1);
} */